<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Responsive Layout</title>
<style>
/********** Base styles **********/

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
  {
  background-color: rgb(206, 206, 206) !important;
}

.active a {
  background-color: rgb(66, 66, 66) !important;
  color: rgb(255, 255, 255) !important;
}

.nav-pills a {
  color: rgb(160, 160, 160);
  font-size: 16px;
}

.nav-pills a:hover {
  background-color: rgb(66, 66, 66) !important;
  color: rgb(160, 160, 160) !important;
}

.nav-item {
  width: 12%;
  min-width: 80px;
  text-align: center;
  margin-top: 5px;
}

ul.nav li.dropdown:hover>ul.dropdown-menu {
  display: block;
}


.dropdown-menu {
  width: 12vw !important;
  text-align: center;
}

.modal-lg {
  max-width: 80vw;
}





</style>